body {
    margin: 0;
    padding: 0;
}

.register-area, .login-area {
    text-align: right;
    margin: 30px;
}

.register-area a, .login-area a{
    color: #707070;
    text-decoration-line: none;
}

.register-area a:hover, .login-area a:hover {
    color: #242424;
}

.login-body, .register-body {
    text-align: center;
    color: #707070;
}

.login-body h2, .register-body h2 {
    font-size: 40px;
    font-weight: 350;
}

.login-form, .register-form {
    width: 422px;
    margin: 60px auto;
    text-align: right; /* form全体の中身を右寄せ */
    
}

.login-form-group, .register-form-group {
    margin-bottom: 20px;
}

.login-form-group label, .register-form-group label {
    min-width: 150px; /* ラベル部分の幅を固定 */
}

.login-form-group input, .register-form-group input {
    align-items: right;
    margin-left: 10px;
    width: 300px;      /* 入力枠のサイズを統一 */
    padding: 6px 10px;
    box-sizing: border-box;
}

.login-form button, .register-form button {
    display: flex;
    justify-content: center;  
    align-items: center;    
    margin: 50px auto 0;
    padding: 5px 30px;
    font-size: 25px;
    background-color: #646464;
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;  
    line-height: 30px;
}

.login-form button:hover, .register-form button:hover {
    background-color: #343434;
}

.error-message {
    color: #e53e3e;
    font-size: 14px;
    margin-top: 4px;
    width: 100%
}

.admin-header {
    background-color: #4AECF2;
    align-items: center; /* ← 縦方向の中央揃え */
    padding: 10px 40px 10px 0px;
}

.admin-header li {
    list-style: none;
}

.admin-header-nav {
    display: flex;
    gap: 20px;
}

.admin-header-nav a {
    display: inline-block;
    text-decoration: none;
}

.nav-btn a {
    background-color: #646464;
    color: white;
    border-radius: 4px;
    padding: 3px 0px;
    min-width: 100px;  
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.nav-btn a:hover {
    background-color: #343434;
}

.admin-article-li {
    font-size: 12px;
}

.admin-banner-li {
    font-size: 14px;
}

.nav-auth {
    margin-left: auto; /* ← ログイン or ログアウトを右端に寄せる */
}

.nav-auth a, .nav-auth button {
    color: white;
    background-color: #4AECF2;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.nav-auth a:hover , .nav-auth button:hover {
    color: #e5e5e5;
}

.admin-top-body {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 80px 50px;
}

.back-btn a {
    text-decoration: none;
    color: #303030;
    padding-left: 30px;
}

.back-btn a:hover, .back-btn-curriculum-list a:hover {
    color: #000000;
}

.admin-banner-edit-body h2 {
    font-weight: 350;
    font-size: 20px;
}

.icon-plus {
    width: 30px;
}

.image-preview {
    width: 180px;
    height: 120px;
    object-fit: cover;/* 縦横比を保ったまま切り取る */
    display: none;      /* 最初は非表示 */
}

#imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.image-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-plus, .icon-minus {
    width: 30px;
    cursor: pointer;
    display: block;
}

.image-preview {
    width: 150px;
    height: auto;
    display: none;
    padding: 0px 15px 10px 30px;

}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.admin-banner-edit-body h2 {
    font-weight: 450;
    padding-left: 30px;
}

.back-btn-curriculum_list a{
    text-decoration: none;
    color: #303030;
    margin: 10px;

}
.curriculum_list-month {
    display: flex;
    
}

.month {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.month h4 {
    margin: 0px 10px;
    padding: 0;
    font-weight: 400;
}

.select-grade {
    margin: 5px 0 0 10px;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 8px ; 
    display: inline-flex;
    align-items: center;
    line-height: 1;
    height: 30px; 
}

.month a {
    text-decoration: none;
    color: #000000;
}

.month a:hover {
    color: #282828;
}

.curriculum_list-grade li {
    list-style: none;
}

.curriculum_list-grade a {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 8px ; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 30px; 
    margin: 3px 0px 3px 50px;
    width: 80px;
}

.select-grade {
    padding: 0 15px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    height: 30px; 
    margin: 3px;
}

.grade-color-1 {
    background-color: #89E5F5;
    color: #fff;
}

.grade-color-1.active {
    background-color: #4AECF2;
    color: #fff;
    font-weight: bold;
}

.grade-color-2 {
    background-color: #77E5D4;
    color: #fff;
}

.grade-color-2.active {
    background-color: #42e6cd;
    color: #fff;
    font-weight: bold;
}
.grade-color-3 {
    background-color: #94D058;
    color: #fff;
}

.grade-color-3.active {
    background-color: #7cd226;
    color: #fff;
    font-weight: bold;
}

.grade-link.disabled {
    background-color: #ccc;
    color: #000000;
    cursor: not-allowed;
    pointer-events: none; /* クリック無効にする */
    border: none;
}

.curriculum-layout {
    display: flex; /* 横並び */
    gap: 20px; /* 左右の余白 */
}

.grade-list {
    width: 180px; /* 学年リスト側の幅 */
}

.curriculum-item img {
        width: 130px;
    height: 100px;
    padding: 0;
    object-fit: cover;/* 縦横比を保ったまま切り取る */
}

.curriculum-item {
    border: 1px solid;
    padding: 5px;
    margin: 20px 5px 5px 5px;
    height: 200px;
}


.curriculum-item a {
    text-decoration: none;
    color: #000000;
    margin: 3px;
    font-weight: 350;
    font-size: 12px;
    gap: 0;

}

.curriculum-item h5 {
    margin: 0 0 5px 0;
}

.curriculum-item li {
    list-style: none;
        text-align: left;

}


.delivery-list {
    margin: 0;
    padding: 0;
    max-height: calc(1.28em * 4); /* 4行分の高さ */
    overflow: hidden;
    position: relative;
    line-height: 1.28;
    font-size: 13px;
}

.delivery-list li {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none; /* リストマークを消したい場合 */
}

.delivery-list li a {
    display: inline-block; /* インラインブロック化で不要な隙間回避 */
    margin: 0;
    padding-left: 3px;
    line-height: 1;
    text-decoration: none; /* 必要に応じて */
    color: inherit; /* 親の文字色を継承 */
}

.delivery-label a {
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    font-size: 10px;
    background-color: #fcdeef;
    font-weight: 450;
    display: inline-flex;
    align-items: center; 
    margin: 1px;
}

.curriculum-container {
  display: grid;
  grid-template-columns: repeat(3, 150px); /* 横3列固定 */
  gap: 20px;
  justify-content: center; /* 中央寄せ */
}

.curriculum_list-month {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.curriculum_list-month .month {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.curriculum_list-month .select-grade {
  margin-left: 1rem;
}

#month-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hidden-extra {
    display: none;
}

.show-more-btn {
    background: none;
    border: none;
    color: #017cff;
    cursor: pointer;
    padding: 0;
    margin: 0px 5px 5px 5px;
    font-size: 11px;
}

.show-more-btn:hover {
    color: #036ddf; 
}